<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/list.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Your Assignments</h1>
        {% for datap in data: %}
            <div class="assignment">
                <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Circle-icons-clipboard.svg/1200px-Circle-icons-clipboard.svg.png" alt="">
                <p class="title">{{ data[datap].title }}</p>
                <p class="subject">{{ data[datap].subject }}</p>
            </div>
        {% endfor %}
        <button class="new">New</button>
    </div>
</body>
</html>